<%- include ('partials/navigation.ejs') %>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<div class="flashes">
  <% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
      <div class="flash success"><%= flashMessages.success %></div>
    <% } else if (flashMessages.error) { %>
      <div class="flash error"><%= flashMessages.error %></div>
    <% } %>
  <% } %>
</div>

  </<div class="login">
    <% if(loggedIn) {%>
      <li><%- include chatrooms/_chatroomsModal %></li>
    <% } %>
  </div>
<%- body %>
<div id="footer">FOOTER blabla </div>
